<!DOCTYPE html>
<html>
<head>     
	<title>Accueil</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>

	<%- include('navRecruteur.ejs') %>

	<div class="jumbotron text-center">
		<h1>Bienvenue sur notre site de recrutement</h1>
		<p>Découvrez les meilleures talents.</p>
		<a href="http://localhost:3000/recruteur/mesOffres" class="btn btn-primary">Consulter vos offres d'emploi</a>
		<div class="d-flex justify-content-center mt-4">
			<img src="https://www.alternance-professionnelle.fr/wp-content/uploads/2017/10/recrutement-entreprises-678x381.jpg" alt="Recrutement d'entreprises" class="img-fluid">
		</div>
	</div>


	
			
            
	<footer class="bg-light text-center py-4">
		<div class="container">
		  <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
		</div>
	  </footer>
	
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
	</html>
		
				
