<!DOCTYPE html>
<html>
<head>
	<title>Accueil</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>

	<%- include('nav.ejs') %>

            <section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center mb-4">À propos de nous</h2>
          <p>Notre site de recrutement est dédié à connecter les talents exceptionnels avec les opportunités professionnelles qui correspondent à leurs compétences et aspirations. Nous nous efforçons de simplifier le processus de recrutement en mettant en relation les candidats et les entreprises à la recherche de nouveaux talents.</p>
          <p>Nous offrons une plateforme conviviale et intuitive où les candidats peuvent créer des profils détaillés, télécharger leur CV et postuler à des offres d'emploi dans divers domaines. Les entreprises peuvent publier des offres d'emploi, parcourir les profils des candidats et entrer en contact avec ceux qui correspondent à leurs besoins.</p>
          <p>Nous nous engageons à fournir une expérience de recrutement transparente et efficace. Notre équipe est composée de professionnels passionnés qui sont déterminés à faciliter les correspondances parfaites entre les candidats et les employeurs. Nous comprenons l'importance de trouver le bon talent pour une entreprise et la valeur d'une carrière épanouissante pour les individus.</p>
          <p>Que vous soyez à la recherche d'un emploi ou d'un talent exceptionnel, notre site de recrutement est là pour vous aider. Rejoignez-nous dès aujourd'hui et ouvrez les portes vers de nouvelles opportunités professionnelles passionnantes.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-light text-center py-4">
    <div class="container">
      <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
