<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>

	<%- include('nav.ejs') %>

            <section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center mb-4">Contactez-nous</h2>
            
                 Veuillez utiliser les informations de contact ci-dessous pour nous joindre :
                <ul>
                    <li>Email : contact@gmail.com</li>
                    <li>Téléphone : +33 34 56 76 88</li>
                    <li>Adresse : BF 217 UTC, Compiegne, France</li>
                </ul>
            
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-light text-center py-4">
    <div class="container">
      <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
