<!DOCTYPE html>
<html>
<head>
	<title>Devenir Recruteur</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Liens vers les stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <%- include('navRecruteur.ejs') %>

    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Email de l'utilsateur</th>
                <th>Accepter</th>
                <th>Refuser</th>
            </tr>
        </thead>

        <tbody>
            <form id="AdminOrga" action="/organisations/setrecruteurorga" method="POST">

            <% demandes.forEach((dem)=> { %>
                <tr>
                    <td>
                        <%= dem.emailusers %>
                    </td>
                    <td>
                        <input type="submit" name="accepter" value="Accepter">
                         <input type="hidden" name="emailA" value="<%= dem.email%>">
                         <input type="hidden" name="sirenA" value="<%= dem.orga %>">
                        </td>
                    <td>
                        <input type="submit" name="rejeter" value="Rejeter"> 
                        <input type="hidden" name="emailR" value="<%= dem.email%>">
                        <input type="hidden" name="sirenR" value="<%= dem.orga %>">
                    </td>
                </tr>
                <% }) %>
            </form>
        </tbody>
    </table>
</body>