<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devenir Recruteur</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
  <style>
    .card-header {
      background-color: #007bff;
      color: #fff;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  </style>
</head>
<body>
  <%- include('nav.ejs') %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h4>Ajouter mon entreprise</h4>
          </div>
          <div class="card-body">
            <form id="AjoutOrga" action="/organisations/addorga" method="POST">
              <div class="mb-3">
                <label for="nom" class="form-label">Nom de l'organisation :</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez le nom de votre organisation">
              </div>
              <div class="mb-3">
                <label for="siren" class="form-label">SIREN :</label>
                <input type="text" class="form-control" id="siren" name="siren" placeholder="Entrez le SIREN">
              </div>
              <div class="mb-3">
                <label for="type" class="form-label">Type de l'organisation :</label>
                <input type="text" class="form-control" id="type" name="type" placeholder="Entrez le type de votre organisation">
              </div>
              <div class="mb-3">
                <label for="siege" class="form-label">Siège Social :</label>
                <input type="text" class="form-control" id="siege" name="siege" placeholder="Entrez le siège de votre organisation">
              </div>
              <button type="submit" class="btn btn-primary">Ajouter mon entreprise</button>
            </form>
            <a class="nav-link" href="http://localhost:3000/organisations/orgaList">Votre entreprise existe déjà ? Demandez à la rejoindre</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center py-4">
    <div class="container">
      <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
