<!DOCTYPE html>
<html>
<head>
	<title>Devenir Recruteur</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Liens vers les stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<%- include('navRecruteur.ejs') %>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h1><%= message %></h1>
					</div>
					<div class="card-body">
						
						<a class="nav-link" href="http://localhost:3000/recruteur"> Retourner à l'accueil  </a>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Liens vers les scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
