<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/css/bootstrap.min.css">
</head>

<body>
  <% include('nav.ejs') %>

  <div class="container mt-5">
    <h1><%= title %></h1>

    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">Id Fiche</th>
          <th scope="col">Intitulé</th>
          <th scope="col">Statut Poste</th>
          <th scope="col">Responsable Hiérarchique</th>
          <th scope="col">Type Métier</th>
          <th scope="col">Lieu</th>
          <th scope="col">Rythme</th>
          <th scope="col">Salaire</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% fiches.forEach((fiche) => { %>
        <tr>
          <td><%= fiche.id_fiche %></td>
          <td><%= fiche.intitule %></td>
          <td><%= fiche.statutposte %></td>
          <td><%= fiche.rh %></td>
          <td><%= fiche.typePoste %></td>
          <td><%= fiche.lieu %></td>
          <td><%= fiche.horaire %></td>
          <td><%= fiche.salaire %></td>
          <td><%= fiche.descriptionPoste %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>