<!DOCTYPE html>
<html>
<head>
	<title>Accueil</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
  <body>
    <%- include('nav.ejs') %>
    <section>
      <div class="row">
        <div class="div-cadre col-10 offset-1 col-lg-8 offset-lg-2">
          <form method="post" id="frmFileUpload" enctype="multipart/form-data">
            <input type="hidden" name="myUsername" value="<%=prenom%>" />
            <div class="row">
              <div class="col div-titre">  Charger vos fichiers</div>
            </div>
            <div class="row" style="margin-bottom:5px;">
              <div class="col-8 offset-2">
                <select class="form-select" id="file_type" name="myFileType">
                  <option value="">--- Type du document ---</option>
                  <option value="CV">CV</option>
                  <option value="LM">Votre Lettre</option>
                  <option value="CIN">Carte d'identité</option>
                  <option value="Autre">Autre document</option>
                </select>
              </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
              <div class="col-8 offset-2">
                <input class="form-control" id="fileInput" name="myFileInput" type="file" accept="image/*,.pdf">
              </div>
            </div>
            <div class="row" style="margin-bottom:5px;">
              <div class="col text-center">
                <a title="Charger le fichier">
                  <button type="submit" class="btn btn-primary" formaction="upload?idFiche=<%=idFiche%>?">Charger le fichier</button>
                  <button type="submit" class="btn btn-primary" formaction="upload/ajoutCand?idFiche=<%=idFiche%>?">Postuler</button>
                </a>
              </div>
            </div>
    
            <% if(typeof uploaded_filename != 'undefined' && typeof uploaded_original != 'undefined') { %>
            <div class="row" style="margin: 10px 0px;">
              <div class="col text-center">
                <span>Le fichier <strong><%= uploaded_original %></strong> a bien été chargé sous le nom <strong><%= uploaded_filename %></strong>.</span>
              </div>
            </div>
            <% } %>
    
            <% if(typeof upload_error != 'undefined') { %>
            <div class="row" style="margin: 10px 0px;">
              <div class="col text-center text-red">
                <span><strong><%= upload_error %></strong></span>
              </div>
            </div>
            <% } %>
          </form>
        </div>
      </div>
    
      <div class="row">
        <div class="div-cadre col-10 offset-1 col-lg-8 offset-lg-2">
          <ul>
            <% files_array.forEach((oneFile) => { %>
            <li><a href="upload/getfile?fichier_cible=<%= oneFile %>" target="_blank"><%= oneFile %></a></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </section>
    
  
    <footer class="footer">
      <div class="container">
          <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
      </div>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>