<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://fr.freelogodesign.org/assets/img/logo-colors-meanings/logos-bleus/logo-ge.svg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        Joborama
      </a>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card my-5">
          <div class="card-header bg-primary text-white">
            <h2 class="text-center">Connexion</h2>
          </div>
          <div class="card-body">
            <form action="/auth" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre adresse e-mail" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
            </form>
            <hr>
            <p class="text-center">Vous n'avez pas encore de compte ? <a href="/inscription">Inscrivez-vous ici</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
