<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devenir Recruteur</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
  <style>
    .card-header {
      background-color: #007bff;
      color: #fff;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h4>Nouvelle inscription</h4>
          </div>
          <div class="card-body">
            <form id="AjoutOrga" action="inscription/addInscription" method="POST">
              <div class="mb-3">
                <label for="statutposte" class="form-label">Statut du poste :</label>
                <input type="text" class="form-control" id="statutposte" name="statutposte" placeholder="Entrez le statut du poste">
              </div>
              <div class="mb-3">
                <label for="descriptionPoste" class="form-label">Description du poste :</label>
                <input type="text" class="form-control" id="descriptionPoste" name="descriptionPoste" placeholder="Entrez la description du poste">
              </div>
              <div class="mb-3">
                <label for="rh" class="form-label">Nom du responsable hiérarchique :</label>
                <input type="text" class="form-control" id="rh" name="rh" placeholder="Entrez le nom du RH">
              </div>
              <div class="mb-3">
                <label for="typePoste" class="form-label">Type de poste :</label>
                <input type="text" class="form-control" id="typePoste" name="typePoste" placeholder="Entrez le type de poste">
              </div>
              <div class="mb-3">
                <label for="intitule" class="form-label">Intitulé du poste :</label>
                <input type="text" class="form-control" id="intitule" name="intitule" placeholder="Entrez l'intitulé du poste">
              </div>
              <div class="mb-3">
                <label for="salaire" class="form-label">Salaire du poste :</label>
                <input type="text" class="form-control" id="salaire" name="salaire" placeholder="Entrez le salaire du poste">
              </div>
              <div class="mb-3">
                <label for="horaire" class="form-label">Horaires :</label>
                <input type="text" class="form-control" id="horaire" name="horaire" placeholder="Entrez les horaires">
              </div>
              <div class="mb-3">
                <label for="lieu" class="form-label">Lieu du poste :</label>
                <input type="text" class="form-control" id="lieu" name="lieu" placeholder="Entrez le lieu du poste">
              </div>
              <button type="submit" class="btn btn-primary">Ajouter ma fiche</button>
            </form>
         </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center py-4">
    <div class="container">
      <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
