<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire d'inscription</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h4>Créer un compte</h4>
          </div>
          <div class="card-body">
            <form id="Inscription" action="inscription/inscriptionInfos" method="POST">
              <div class="mb-3">
                <label for="nom" class="form-label">Nom :</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom" pattern="[A-Za-z\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres et des espaces.</div>
              </div>
              <div class="mb-3">
                <label for="prenom" class="form-label">Prénom :</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre prénom" pattern="[A-Za-z\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres et des espaces.</div>
              </div>
              <div class="mb-3">
                <label for="tel" class="form-label">Numéro de Téléphone :</label>
                <input type="tel" class="form-control" id="tel" name="tel" placeholder="Entrez votre numéro de téléphone" pattern="[0-9]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des chiffres.</div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail :</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre adresse e-mail" required>
                <div class="invalid-feedback">Veuillez entrer une adresse e-mail valide.</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" minlength="8" required>
                <div class="invalid-feedback">Veuillez entrer un mot de passe d'au moins 8 caractères.</div>
              </div>
              <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirmer le mot de passe :</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmez votre mot de passe" minlength="8" required>
                <div class="invalid-feedback">Veuillez confirmer votre mot de passe.</div>
              </div>
              <button type="submit" class="btn btn-primary">Créer un compte</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    // Add event listener to the form submission
    document.getElementById('Inscription').addEventListener('submit', function (event) {
      var inputs = document.querySelectorAll('input');
      for (var i = 0; i < inputs.length; i++) {
        var input = inputs[i];
        if (!input.checkValidity()) {
          // Display the validation error message
          input.classList.add('is-invalid');
          event.preventDefault();
        } else {
          input.classList.remove('is-invalid');
        }
      }
      var password = document.getElementById('password');
      var confirm_password = document.getElementById('confirm_password');
      if (password.value !== confirm_password.value) {
        // Display the validation error message
        password.classList.add('is-invalid');
        confirm_password.classList.add('is-invalid');
        event.preventDefault();
      } else {
        password.classList.remove('is-invalid');
        confirm_password.classList.remove('is-invalid');
      }
    });
  </script>
</body>

</html>