<!DOCTYPE html>
<html>
<head>
    <title> Mes Candidatures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>

	<%- include('nav.ejs') %>

	<div class="container">
		<h2 style="color: rgb(0, 102, 255);">Mes candidatures</h2>
		<div class="row">
			<% candidatures.forEach((candidature)=> { %>
				<div class="col-md-6">
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title" style="color: rgb(0, 102, 255);">
								<%= candidature.intitule %>
							</h5>
							<p class="card-text">Email recruteur: <%= candidature.recruteur %>
							</p>
							<p class="card-text">Date de candidature: <%= candidature.dateCandidature %>
							</p>
						</div>
					</div>
				</div>
				<% }) %>
					<!-- Ajoutez d'autres candidatures ici -->
		</div>
	</div>



	<footer class="bg-light text-center py-4">
		<div class="container">
		  <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
		</div>
	  </footer>
	
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
	</html>
		
