<!DOCTYPE html>
<html>
<head>
    <title>Mes Offres</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
 </head>
 <style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    form {
        margin-top: 20px;
    }

    .btn {
        margin-right: 5px;
    }
</style>
</head>
<body>


    <%- include('navRecruteur.ejs') %>

<div class="container">
    <h1><%= "Mes offres d'emploi" %></h1>
    <table>
        <thead>
            <tr>
                <th>Statut</th>
                <th>Responsable RH</th>
                <th>Recruteur</th>
                <th>Lieu</th>
                <th>Salaire</th>
                <th>Date de validité</th>
                <th>Etat</th>

            </tr>
        </thead>
        <tbody>
            <% offres.forEach((offre)=> { %>
                <tr>
                    <td>
                        <%= offre.statutposte %>
                    </td>
                    <td>
                        <%= offre.rh %>
                    </td>
                    <td>
                        <%= offre.recruteur %>
                    </td>
                    <td>
                        <%= offre.lieu %>
                    </td>
                    <td>
                        <%= offre.salaire %>
                    </td>
                    <td>
                        <%= offre.dateValidite %>
                    </td>
                    <td>
                        <%= offre.etat %>
                    </td>

                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<footer class="bg-light text-center py-4">
    <div class="container">
      <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js</script>
</body>
</html>