<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      <img src="https://fr.freelogodesign.org/assets/img/logo-colors-meanings/logos-bleus/logo-ge.svg" alt="Logo" width="40" height="40" class="d-inline-block align-top">
      <span class="text-white">Joborama</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000/users">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000/offres/offreslist">Offres d'emploi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000/users/mesCandidatures">Mes candidatures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000/organisations/devenirRecruteur">Devenir Recruteur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000/apropos/getInfo">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000/contact/getContact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000">Retour page connexion</a>
        </li>
      </ul>
    </div>
  </nav>
  