<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devenir Recruteur</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
  <style>
    .card-header {
      background-color: #007bff;
      color: #fff;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-primary:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  </style>
</head>

<body>
  <% include('navRecruteur.ejs') %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white">
            <h4>Ajouter une nouvelle offre</h4>
          </div>
          <div class="card-body">
            <form id="AjoutOrga" action="/recruteur/addOffre?siren=<%=recruteur.Siren %>" method="POST">
              <div class="mb-3">
                <label for="id_fiche" class="form-label">Numéro de la fiche de poste :</label>
                <input type="text" class="form-control" id="id_fiche" name="id_fiche" placeholder="Entrez le numéro de la fiche de poste" pattern="[A-Za-z0-9-\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres, des chiffres et des tirets.</div>
              </div>
              <div class="mb-3">
                <label for="desc" class="form-label">Description :</label>
                <input type="text" class="form-control" id="desc" name="desc" placeholder="Entrez la description du poste" pattern="[A-Za-z0-9-\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres, des chiffres, des espaces et des tirets.</div>
              </div>
              <div class="mb-3">
                <label for="dateVal" class="form-label">Date de validité :</label>
                <input type="text" class="form-control" id="dateVal" name="dateVal" placeholder="Entrez la date limite de validité" pattern="[A-Za-z0-9-\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres, des chiffres, des espaces et des tirets.</div>
              </div>
              <div class="mb-3">
                <label for="datePub" class="form-label">Date de publication :</label>
                <input type="text" class="form-control" id="datePub" name="datePub" placeholder="Entrez la date de publication" pattern="[A-Za-z0-9-\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres, des chiffres, des espaces et des tirets.</div>
              </div>
              <div class="mb-3">
                <label for="recruteur" class="form-label">Nom complet du recruteur :</label>
                <input type="text" class="form-control" id="recruteur" name="recruteur" placeholder="Entrez le nom du recruteur" pattern="[A-Za-z\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres et des espaces.</div>
              </div>
              <div class="mb-3">
                <label for="siren" class="form-label">SIREN de l'entreprise :</label>
                <input type="text" class="form-control" id="siren" name="siren" placeholder="Entrez le SIREN" pattern="[A-Za-z0-9\s]+" required>
                <div class="invalid-feedback">Veuillez entrer uniquement des lettres, des chiffres et des espaces.</div>
              </div>
              <button type="submit" class="btn btn-primary">Ajouter mon offre</button>
            </form>
            <a class="nav-link" href="http://localhost:3000/recruteur/newFiche">Créez une fiche de poste ici</a>
            <a class="nav-link" href="http://localhost:3000/recruteur/fichespostelist">Voir les fiches de postes disponibles</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center py-4">
    <div class="container">
      <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    // Add event listener to the form submission
    document.getElementById('AjoutOrga').addEventListener('submit', function (event) {
      var inputs = document.querySelectorAll('input');
      for (var i = 0; i < inputs.length; i++) {
        var input = inputs[i];
        if (!input.checkValidity()) {
          // Display the validation error message
          input.classList.add('is-invalid');
          event.preventDefault();
        } else {
          input.classList.remove('is-invalid');
        }
      }
    });
  </script>
</body>

</html>