<!DOCTYPE html>
<html>
	<head>
		<title>Offres d'emploi</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
		<style>
			.filters {
				background-color: #f8f9fa;
				padding: 20px;
			}
	
			.options {
				margin-top: 20px;
				margin-bottom: 20px;
			}
	
			.job {
				border: 1px solid #ddd;
				padding: 20px;
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<%- include('nav.ejs') %>
	
		<div class="container-fluid">
			<div class="row">
					<div class="job-listings">
						<h2>Offres d'emploi</h2>
						<% offres.forEach((offre)=> { %>
							<div class="job">
								<h4><%= offre.intitule %></h4>
								<p>Type : <%= offre.typePoste %></p>
								<p>Organisation : <%= offre.Siren %></p>
								<p>Date de Publication : <%= offre.datePublication %></p>
								<p>Rythme : <%= offre.horaire %></p>
								<p>Salaire : <%= offre.salaire %></p>
								<p>Date de Validité : <%= offre.dateValidite %></p>
								<p>Descrition : <%= offre.description %></p>
								<p>Responsable : <%= offre.rh %></p>
								<a href="http://localhost:3000/offres/detailFiche?idFiche=<%=offre.id_fiche %>" class="btn btn-primary">Voir la fiche de poste</a>
								<a href="http://localhost:3000/upload?idFiche=<%=offre.id_fiche %>?intitule=<%=offre.intitulé %>?" class="btn btn-primary">Postuler</a>
							</div>
						<% }) %>
					</div>
			</div>
		</div>

		<footer class="bg-light text-center py-4">
			<div class="container">
			  <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
			</div>
		  </footer>
		
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
		</body>
		</html>