<!DOCTYPE html>
<html>
<head>
	<title>Liste organisations</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>


    <%- include('nav.ejs') %>

    <div class="container">
        <h1 class="text-primary">Sélectionner une entreprise</h1>
        <form id="AjoutOrga" action="/organisations/sendjoinorga" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-primary">SIREN</th>
                        <th class="text-primary">Nom</th>
                        <th class="text-primary">Type</th>
                        <th class="text-primary">Siège Social</th>
                        <th class="text-primary">Validation</th>
                        <th class="text-primary">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% orgas.forEach((orga) => { %>
                        <tr>
                            <td><%= orga.Siren %></td>
                            <td><%= orga.nom %></td>
                            <td><%= orga.type %></td>
                            <td><%= orga.siegeSocial %></td>
                            <td><%= orga.validation %></td>
                            <td>
                                <button type="submit" name="siren" value="<%= orga.Siren %>" class="btn btn-primary">Envoyer une demande</button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </form>
    </div>


    <footer class="footer">
        <div class="container">
            <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
