<!DOCTYPE html>
<html>
<head>
    <title>Liste des Organisations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">

</head>

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    form {
        margin-top: 20px;
    }

    .btn {
        margin-right: 5px;
    }
</style>

<body>
    <%- include('navAdmin.ejs') %>
    <div class="container">
        <h1><%= "Liste des organisations" %></h1>
        <form action="/admin/deleteOrga" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Siren de l'organisation</th>
                        <th>Nom</th>
                        <th>Siège social</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% orgas.forEach((orga) => { %>
                      <tr>
                        <td><%= orga.Siren %></td>
                        <td><%= orga.nom %></td>
                        <td><%= orga.siegeSocial %></td>
                        <td><%= orga.type %></td>
                        <td>
                          <form action="/admin/deleteOrga" method="POST">
                            <input type="hidden" name="orgaToDelete" value="<%= orga.Siren %>">
<button type="submit" name="supprimer" class="btn btn-danger">Supprimer</button>
                          </form>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
            </table>
        </form>
    </div>

    <footer class="bg-light text-center py-4">
        <div class="container">
            <p>Tous droits réservés &copy; 2023 Site de Recrutement</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js%22%3E</script>
</body>
</html>