<!DOCTYPE html>
<html>

<head>
  <title>Vous avez bien postulé</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="mt-5">Vous avez bien postulé</h1>
    <a href="http://localhost:3000/users/mesCandidatures" class="btn btn-primary mt-4">Retour à mes candidatures</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>